<!-- <div class="layui-carousel" id="test10" style="margin-top: 5px;position: relative;left: 30%">
    <div carousel-item="">
        <div><img src="/blog/static/img/2.jpg"/></div>
        <div><img src="/blog/static/img/3.jpg"/></div>
        <div><img src="/blog/static/img/4.jpg"/></div>
    </div>

</div>
<div>
    <div  class="madaiateClass">
        这里是板块：
        <button class="layui-btn">读书</button>
        <button class="layui-btn layui-btn-normal">历史</button>
        <button class="layui-btn layui-btn-warm">青年文摘</button>
        <button class="layui-btn layui-btn-danger">玄幻修仙</button>
    </div>
    <div class="dataClas">
        滚动列表！
    </div>
</div>

<br/>


<div class="regionStart">
    左侧栏111111111！
</div> -->


<div class="container index">
  <div class="row">
    <div class="col-xs-16 main">
      <!-- Banner -->
        <div id="indexCarousel" class="carousel slide">
          <div class="carousel-inner">
              <div class="item active left">
                <div class="banner" data-banner-name="简书×火影忍者手游征文">
                  <a target="_blank" href="xiaojun/p/e248f125b8d1?utm_medium=index-banner&amp;utm_source=desktop">
                 	 <img th:src="@{/static/img/c3719b99916306d2bf370e464410b10341d08dac.jpg}" alt="540"/>
                  </a>
                </div>
              </div>
              <div class="item next left">
                <div class="banner" data-banner-name="4韩大爷的读写训练营">
                  <a target="_blank" href="xiaojun/p/2f8376ba2664?utm_medium=index-banner&amp;utm_source=desktop">
                  	<img th:src="@{/static/img/d5e42ca61fd54e5f3166b2f13659932381ec3183.jpg}" alt="540"/>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="banner" data-banner-name="他乡无所有，聊赠一枝春丨简书交友新年礼物交换会">
                   <a target="_blank" href="http://www.jianshu.com/p/365daa384295?utm_medium=index-banner&amp;utm_source=desktop">
                  	 <img th:src="@{/static/img/4a0679fb9dde465cd13797299699be750382b04c.jpg}" alt="540"/>
                  	</a>
                </div>
              </div>
              <div class="item">
                <div class="banner" data-banner-name="limoshikongdebuju">
                   <a target="_blank" href="xiaojun/p/a40998de1feb?utm_medium=index-banner&amp;utm_source=desktop">
                  		<img th:src="@{/static/img/97984254f407672e5ca56e4aa66ad9e4330e3e0b.jpg}" alt="540"/>
                  	</a>
                </div>
              </div>
          </div>
            <ol class="carousel-indicators">
                <li data-target="#indexCarousel" data-slide-to="0" class=""></li>
                <li data-target="#indexCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#indexCarousel" data-slide-to="2" class=""></li>
                <li data-target="#indexCarousel" data-slide-to="3" class=""></li>
            </ol>
            <a class="left carousel-control" href="xiaojun/#indexCarousel" role="button" data-slide="prev"><i class="iconfont ic-previous-s"></i></a>
            <a class="right carousel-control" href="xiaojun/#indexCarousel" role="button" data-slide="next"><i class="iconfont ic-next-s"></i></a>
        </div>
    
         <div class="recommend-collection">
	            <a class="collection" target="_blank" href="xiaojun/c/1hjajt?utm_medium=index-collections&amp;utm_source=desktop">
	              	<img th:src="@{/static/img/avatar.jpg}" alt="64"/>
	             	 <div class="name">简书电影</div>
				</a>            
				<a class="collection" target="_blank" href="xiaojun/c/b676c24f7d60?utm_medium=index-collections&amp;utm_source=desktop">
	              	<img th:src="@{/static/img/avatar.jpg}" alt="64"/>
	             	 <div class="name">人文社科</div>
				</a>            
				<a class="collection" target="_blank" href="xiaojun/c/20f7f4031550?utm_medium=index-collections&amp;utm_source=desktop">
	             	 <img th:src="@{/static/img/avatar.jpg}" alt="64"/>
	            	  <div class="name">社会热点</div>
				</a>            
				<a class="collection" target="_blank" href="xiaojun/c/5AUzod?utm_medium=index-collections&amp;utm_source=desktop">
	             	 <img th:src="@{/static/img/avatar.jpg}" alt="64"/>
	             	 <div class="name">旅行·在路上</div>
				</a>            
				<a class="collection" target="_blank" href="xiaojun/c/yD9GAd?utm_medium=index-collections&amp;utm_source=desktop">
              	  	<img th:src="@{/static/img/avatar.jpg}" alt="64"/>
	              	<div class="name">读书</div>
				</a>            
				<a class="collection" target="_blank" href="xiaojun/c/e7d2d4045b36?utm_medium=index-collections&amp;utm_source=desktop">
             		 <img th:src="@{/static/img/avatar.jpg}" alt="64"/>
              		<div class="name">历史</div>
				</a>            
				<a class="collection" target="_blank" href="xiaojun/c/7b2be866f564?utm_medium=index-collections&amp;utm_source=desktop">
             		 <img th:src="@{/static/img/avatar.jpg}" alt="64"/>
              		  <div class="name">摄影</div>
				</a>
           		<a class="more-hot-collection" target="_blank" href="xiaojun/recommendations/collections?utm_medium=index-collections&amp;utm_source=desktop">
              		更多热门专题 <i class="iconfont ic-link"></i>
				</a>        
		   </div>
      <div class="split-line"></div>
      <div id="list-container">
        <!-- 文章列表模块 -->
          <ul class="note-list" infinite-scroll-url="/">

			<li id="note-21758606" data-note-id="21758606" class="have-img">
			    <a class="wrap-img" href="xiaojun/p/3e7c5b9dac30" target="_blank">
			      <img class="  img-blur-done" th:src="@{/static/img/4946217-6e9b33852ebda54f.jpg}" alt="120"/>
			    </a>
			  <div class="content">
			    <div class="author">
				     <a class="avatar" target="_blank" href="xiaojun/u/99425acfd638">
				        <img th:src="@{/static/img/911a0611-8b2b-4ab1-8321-61ae9b65d1d8.jpg}" alt="64"/>
					</a>      
				 <div class="info">
			        <a class="nickname" target="_blank" href="xiaojun/u/99425acfd638">盛慧</a>
			        <span class="time" data-shared-at="2017-12-28T00:09:44+08:00">15小时前</span>
			      </div>
			    </div>
			    <a class="title" target="_blank" th:href="@{/indexInfo}">读书与不读书，差别到底在哪里？</a>
			    <p class="abstract">
			      老同学聚会，聊起在学校时的一些趣事，酒过三巡后，一个曾经的差生拍着班长的肩膀说： 你说读书有什么用，我高中都没读毕业现在照样开跑车，我厂子里现在三百多号人，随便一个人的工资都...
			    </p>
			    <div class="meta">
			        <a class="collection-tag" target="_blank" href="xiaojun/c/yD9GAd">读书</a>
			        <a target="_blank" href="xiaojun/p/3e7c5b9dac30">
			        	<i class="iconfont ic-list-read"></i> 10656
					</a>        
					<a target="_blank" href="xiaojun/p/3e7c5b9dac30#comments">
			           <i class="iconfont ic-list-comments"></i> 228
					</a>       
					<span><i class="iconfont ic-list-like"></i> 602</span>
			        <span><i class="iconfont ic-list-money"></i> 2</span>
			    </div>
			  </div>
			</li>


			<li id="note-21758606" data-note-id="21758606" class="have-img">
			    <a class="wrap-img" href="xiaojun/p/3e7c5b9dac30" target="_blank">
			      <img class="  img-blur-done" th:src="@{/static/img/4946217-6e9b33852ebda54f.jpg}" alt="120"/>
			    </a>
			  <div class="content">
			    <div class="author">
				     <a class="avatar" target="_blank" href="xiaojun/u/99425acfd638">
				        <img th:src="@{/static/img/911a0611-8b2b-4ab1-8321-61ae9b65d1d8.jpg}" alt="64"/>
					</a>      
				 <div class="info">
			        <a class="nickname" target="_blank" href="xiaojun/u/99425acfd638">盛慧</a>
			        <span class="time" data-shared-at="2017-12-28T00:09:44+08:00">15小时前</span>
			      </div>
			    </div>
			    <a class="title" target="_blank" th:href="@{/indexInfo}">读书与不读书，差别到底在哪里？</a>
			    <p class="abstract">
			      老同学聚会，聊起在学校时的一些趣事，酒过三巡后，一个曾经的差生拍着班长的肩膀说： 你说读书有什么用，我高中都没读毕业现在照样开跑车，我厂子里现在三百多号人，随便一个人的工资都...
			    </p>
			    <div class="meta">
			        <a class="collection-tag" target="_blank" href="xiaojun/c/yD9GAd">读书</a>
			        <a target="_blank" href="xiaojun/p/3e7c5b9dac30">
			        	<i class="iconfont ic-list-read"></i> 10656
					</a>        
					<a target="_blank" href="xiaojun/p/3e7c5b9dac30#comments">
			           <i class="iconfont ic-list-comments"></i> 228
					</a>       
					<span><i class="iconfont ic-list-like"></i> 602</span>
			        <span><i class="iconfont ic-list-money"></i> 2</span>
			    </div>
			  </div>
			</li>


			<li id="note-21758606" data-note-id="21758606" class="have-img">
			    <a class="wrap-img" href="xiaojun/p/3e7c5b9dac30" target="_blank">
			      <img class="  img-blur-done" th:src="@{/static/img/4946217-6e9b33852ebda54f.jpg}" alt="120"/>
			    </a>
			  <div class="content">
			    <div class="author">
				     <a class="avatar" target="_blank" href="xiaojun/u/99425acfd638">
				        <img th:src="@{/static/img/911a0611-8b2b-4ab1-8321-61ae9b65d1d8.jpg}" alt="64"/>
					</a>      
				 <div class="info">
			        <a class="nickname" target="_blank" href="xiaojun/u/99425acfd638">盛慧</a>
			        <span class="time" data-shared-at="2017-12-28T00:09:44+08:00">15小时前</span>
			      </div>
			    </div>
			    <a class="title" target="_blank" th:href="@{/indexInfo}">读书与不读书，差别到底在哪里？</a>
			    <p class="abstract">
			     	 老同学聚会，聊起在学校时的一些趣事，酒过三巡后，一个曾经的差生拍着班长的肩膀说： 你说读书有什么用，我高中都没读毕业现在照样开跑车，我厂子里现在三百多号人，随便一个人的工资都...
			    </p>
			    <div class="meta">
			        <a class="collection-tag" target="_blank" href="xiaojun/c/yD9GAd">读书</a>
			        <a target="_blank" href="xiaojun/p/3e7c5b9dac30">
			        	<i class="iconfont ic-list-read"></i> 10656
					</a>        
					<a target="_blank" href="xiaojun/p/3e7c5b9dac30#comments">
			           <i class="iconfont ic-list-comments"></i> 228
					</a>       
					<span><i class="iconfont ic-list-like"></i> 602</span>
			        <span><i class="iconfont ic-list-money"></i> 2</span>
			    </div>
			  </div>
			</li>
		</ul>
  	 </div>
  
  
  
    <a data-page="3" href="xiaojun/" class="load-more">阅读更多</a></div>
      <div class="col-xs-7 col-xs-offset-1 aside">
        <div class="board">
            <a target="_blank" href="xiaojun/recommendations/notes?category_id=56&amp;utm_medium=index-banner-s&amp;utm_source=desktop">
           		<img th:src="@{/static/img/banner-s-1-b8ff9ec59f72ea88ecc8c42956f41f78.png}" alt="Banner s 1"/>
			</a>       
			<a target="_blank" href="xiaojun/trending/weekly?utm_medium=index-banner-s&amp;utm_source=desktop">
				<img th:src="@{/static/img/banner-s-3-7123fd94750759acf7eca05b871e9d17.png}" alt="Banner s 3"/>
			</a>
	        <a target="_blank" href="xiaojun/trending/monthly?utm_medium=index-banner-s&amp;utm_source=desktop">
	        	<img th:src="@{/static/img/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png}" alt="Banner s 4"/>
	        </a>
	        <a utm_medium="index-banner-s" target="_blank" href="xiaojun/publications">
	        	<img th:src="@{/static/img/banner-s-5-291e00e9156f30791fe24e3de9c39171.png}" alt="Banner s 5"/>
	        </a>
	        <a target="_blank" href="xiaojun/c/e048f1a72e3d?utm_medium=index-banner-s&amp;utm_source=desktop">
	       		 <img th:src="@{/static/img/banner-s-6-c4d6335bfd688f2ca1115b42b04c28a7.png}" alt="Banner s 6"/>
	        </a>
      </div>
 
      <!-- 推荐作者 -->
      <div class="recommended-authors">
      	<div class="title">
      		<span>推荐作者</span> 
      		<a class="page-change">
      		<i class="iconfont ic-search-change" style="transform: rotate(0deg);"></i>
				换一批
    		</a>
    	</div> 
    	<ul class="list">
    		<li>
    			<a href="xiaojun/u/b52ff888fd17?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar">
    				<img th:src="@{/static/img/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png}"/>
    			</a> 
    			<a class="follow" state="0"><i class="iconfont ic-follow"></i>关注 </a> 
				<a href="xiaojun/u/b52ff888fd17?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">简宝玉</a>
				<p> 写了66.8k字 · 10.1k喜欢</p>
			</li>
			<li>
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar">
					<img th:src="@{/static/img/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png}"/>
				</a> 
				<a class="follow" state="0"><i class="iconfont ic-follow"></i>关注</a> 
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">刘淼 </a> 
				<p>写了418.6k字 · 22.6k喜欢</p>
			</li>
			<li>
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar">
					<img th:src="@{/static/img/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png}"/>
				</a> 
				<a class="follow" state="0"><i class="iconfont ic-follow"></i>关注</a> 
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">刘淼 </a> 
				<p>写了418.6k字 · 22.6k喜欢</p>
			</li>
			<li>
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar">
					<img th:src="@{/static/img/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png}"/>
				</a> 
				<a class="follow" state="0"><i class="iconfont ic-follow"></i>关注</a> 
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">刘淼 </a> 
				<p>写了418.6k字 · 22.6k喜欢</p>
			</li>
			<li>
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="avatar">
					<img th:src="@{/static/img/b8a58e70-1126-48c9-97e2-8f21a31dfa94.png}"/>
				</a> 
				<a class="follow" state="0"><i class="iconfont ic-follow"></i>关注</a> 
				<a href="xiaojun/u/5SqsuF?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="name">刘淼 </a> 
				<p>写了418.6k字 · 22.6k喜欢</p>
			</li>
		</ul> 
			<a href="xiaojun/recommendations/users?utm_source=desktop&amp;utm_medium=index-users" target="_blank" class="find-more"> 查看全部
				<i class="iconfont ic-link"></i>
			</a>
		</div>
    </div>
  </div>
</div>

