<div class="layui-carousel" id="test10" style="margin-top: 5px;position: relative;left: 30%">
    <div carousel-item="">
        <div><img src="/blog/static/img/2.jpg"/></div>
        <div><img src="/blog/static/img/3.jpg"/></div>
        <div><img src="/blog/static/img/4.jpg"/></div>
    </div>

</div>
<div class="madaiateClass">
    这里是板块：
    <button class="layui-btn">读书</button>
    <button class="layui-btn layui-btn-normal">历史</button>
    <button class="layui-btn layui-btn-warm">青年文摘</button>
    <button class="layui-btn layui-btn-danger">玄幻修仙</button>
</div>

<div class="madaiateClass">
    滚动列表！
</div>