<!DOCTYPE html >
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>返回</title>
	<link rel="stylesheet" th:href="@{/static/css/login/sign_back.css}" />
	<script th:src="@{/static/js/jquery-3.2.1.js}"></script>
	<script type="text/javascript" th:src="@{/static/login/sign_back.js}" ></script>
</head>


<body class="body-content">
	<header class="body-header">你微笑时好美</header>
	<div class="content">
		<div class="top-content">
			<span style="color:#000;">用手机号重置密码</span>
		</div>
		<div class="middle-content">
			<input type="text" placeholder="+86" class="sign_back_q"/>
			<input type="text" placeholder="手机号" class="sigin_iphone"/>
			<input type="text" placeholder="短信验证码" class="sigin_iphone_yanzheng"/>
			<button class="yanzhengma">发送验证码</button>
			<input type="text" placeholder="请输入新密码" class="sigup_password1"/>
			<input type="text" placeholder="请再输一遍新密码" class="sigup_password2"/>
		</div>
		<div style="margin:1vh auto;width:80%;text-align:center;">
			<button class="chongzhi">重置密码</button>
			<span class="return_login my_return_login">返回登录注册
			</span>
		</div>
	</div>
</body>
 

</html>