<!DOCTYPE html >
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/static/css/login/sign_up.css}" />
	<title>注册</title>
	 
</head>


<body class="body-content">
	<header class="body-header">简书</header>
	<div class="content">
		<div class="top-content">
			<span>登录</span>
			<i>.</i>
			<span class="title-content">注册</span>
		</div>
		<div class="middle-content">
			<input type="text" placeholder="你的昵称" class="sigup_name"/>
			<input type="text" placeholder="手机号" class="sigup_iphone"/>
			<input type="text" placeholder="设置密码" class="sigup_password"/>
		</div>
		<div style="margin:1vh auto;width:80%;text-align:center;">
			<button style="border:none;outline:0;background:#48bf3a;width:100%;height:4vh;border-radius:15px;margin:2vh 0;">注册</button>
			<span style="font-size:0.6em;display:inline-block;width:80%;">点击"注册"即表示您统一并愿意遵守简书
				<b style="color:#51acd6;">用户协议</b>和
				<b style="color:#51acd6;">隐私政策</b>
			</span>
		</div>

		<div style="margin:2vh auto;width:70%;">
			<span>----社交帐号直接注册----</span>
			<div style="margin:3vh auto;width:100%;">
				<img th:src="@{/static/img/weibo.png}" alt="" style="width:30%;"/>
				<img th:src="@{/static/img/wechat.png}" alt="" style="width:30%;"/>
				<img th:src="@{/static/img/QQ.png}" alt="" style="width:30%;"/>
			</div>
		</div>
	</div>
</body>

<script language="javascript">



</script>

</html>