<!DOCTYPE html >
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/static/css/login/sign_up.css}" />
	<link rel="stylesheet" th:href="@{/static/js/layer/css/layer.css}" />
	<title>注册</title>
	 
</head>


<body class="body-content">
	<header class="body-header">你微笑时好美</header>
	<div class="content">
		<div class="top-content">
			<span style="cursor:pointer;" id="title-login">登录</span>
			<i>.</i>
			<span class="title-content">注册</span>
		</div>
		<div class="middle-content">
			<input type="text" placeholder="你的用户名" class="sigup_name" id="username"/>
			<input type="text" placeholder="手机号" class="sigup_iphone" id="phone"/>
			<input type="text" placeholder="设置密码" class="sigup_password" id="password"/>
		</div>
		<div style="margin:1vh auto;width:80%;text-align:center;">
			<button class="login_sign_up sig_up_zc">注册</button>
			<span style="font-size:0.6em;display:inline-block;width:80%;">点击"注册"即表示您统一并愿意遵守简书
				<b style="color:#51acd6;">用户协议</b>和
				<b style="color:#51acd6;">隐私政策</b>
			</span>
		</div>

		<div style="margin:2vh auto;width:70%;">
			<span>----社交帐号直接注册----</span>
			<div style="margin:3vh auto;width:100%;">
				<img th:src="@{/static/img/weibo.png}" alt="" style="width:30%;cursor:pointer;"/>
				<img th:src="@{/static/img/wechat.png}" alt="" style="width:30%;cursor:pointer;"/>
				<img th:src="@{/static/img/QQ.png}" alt="" style="width:30%;cursor:pointer;"/>
			</div>
		</div>
	</div>
</body>

<script th:src="@{/static/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/static/login/sign_up.js}" ></script>
<script th:src="@{/static/js/layer/js/layer.js}"></script>

</html>