 <!-- <ul class="layui-nav layui-bg-green">
    <li class="layui-nav-item" style="position: relative;left: 11%;"><a href="">这是一个普通的导航</a></li>
    <li class="layui-nav-item" style="position: relative;left: 80%;">
        <a href="">个人中心<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item" style="position: relative;left: 80%;">
        <a href=""><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>我</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="javascript:;">退了</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <li class="layui-nav-item">
        <div class="search bar7">
            <form>
                <input type="text" placeholder="搜索从这里开始..." name="crid"/>
                <button type="submit"><img style="width: 16px" src="/blog/static/img/search-icon.png"/></button>
            </form>
        </div>
    </li>
</ul> --> 

<!-- 全局顶部导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="width-limit">
    <!-- 左上方 Logo -->
    <a class="logo" href="xiaojun/"><img th:src="@{/static/img/nav-logo.png}" alt="Nav logo"/></a>
    <!-- 右上角 -->
      <a class="btn write-btn" target="_blank" href="xiaojun/writer#/">
        <i class="iconfont ic-write"></i>写文章
	  </a>
    <!-- 如果用户登录，显示下拉菜单 -->
      <div class="user">
        <div data-hover="dropdown">
          <a class="avatar" href="xiaojun/u/21814a64328f"><img  th:src="@{/static/img/avatar.jpg}" alt="120"/></a>
        </div>
        <ul class="dropdown-menu">
          <li>
            <a href="xiaojun/u/21814a64328f">
              <i class="iconfont ic-navigation-profile"></i><span>我的主页</span>
			</a>          
		 </li>
          <li>
            <a href="xiaojun/bookmarks">
              <i class="iconfont ic-navigation-mark"></i><span>收藏的文章</span>
			</a>          
		  </li>
          <li>
            <a href="xiaojun/users/21814a64328f/liked_notes">
              <i class="iconfont ic-navigation-like"></i><span>喜欢的文章</span>
			</a>          
		  </li>
          <li>
            <a href="xiaojun/wallet">
              <i class="iconfont ic-navigation-wallet"></i><span>我的钱包</span>
			</a>          
		  </li>
          <li>
            <a href="xiaojun/settings">
              <i class="iconfont ic-navigation-settings"></i><span>设置</span>
			</a>          
		  </li>
          <li>
            <a href="xiaojun/faqs">
              <i class="iconfont ic-navigation-feedback"></i><span>帮助与反馈</span>
			</a>          
		  </li>
          <li>
            <a rel="nofollow" data-method="delete" href="xiaojun/sign_out">
              <i class="iconfont ic-navigation-signout"></i><span>退出</span>
			</a>          
		 </li>
        </ul>
      </div>

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li class="tab active">
	              <a href="xiaojun/">
	                 <span class="menu-text">发现</span><i class="iconfont ic-navigation-discover menu-icon"></i>
				  </a>            
			 </li>
            <li class="tab ">
	              <a href="xiaojun/subscriptions">
	                 <span class="menu-text">关注</span><i class="iconfont ic-navigation-follow menu-icon"></i>
				  </a>            
			  </li>
            <li class="tab notification">
            	<a data-hover="dropdown" href="xiaojun/notifications" class="notification-btn">
            		<span class="menu-text">消息</span> 
            		<i class="iconfont ic-navigation-notification menu-icon"></i> 
            	</a> 
            		<ul class="dropdown-menu">
            			<li>
            				<a href="xiaojun/notifications#/comments">
            				<i class="iconfont ic-comments"></i> 
            				<span>评论</span> <!---->
            				</a>
            			</li>
            	 	    <li>
            	 	    	 <a href="xiaojun/notifications#/chats">
            	 	    	 <i class="iconfont ic-chats"></i> 
            	 	    	 <span>简信</span> <!---->
            	 	    	 </a>
            	 	    </li>
            	 	    <li>
            	 	    	<a href="xiaojun/notifications#/requests">
            	 	    	<i class="iconfont ic-requests"></i> 
            	 	    	<span>投稿请求</span> <!---->
            	 	    	</a>
            	 	    </li>
            	 	    <li>
            	 	    	<a href="xiaojun/notifications#/likes">
            	 	    	<i class="iconfont ic-likes"></i> 
            	 	    	<span>喜欢和赞</span> <!---->
            	 	    	</a>
            	 	    </li>
            	 	    <li>
            	 	    	<a href="xiaojun/notifications#/follows">
            	 	    	<i class="iconfont ic-follows"></i> 
            	 	    	<span>关注</span> <!---->
            	 	    	</a>
            	 	    </li>
            	 	    <li>
            	 	    	<a href="xiaojun/notifications#/money">
            	 	    	<i class="iconfont ic-money"></i> 
            	 	    	<span>赞赏</span> <!---->
            	 	    	</a>
            	 	    </li>
            	 	    <li>
            	 	    	<a href="xiaojun/notifications#/others">
            	 	    	<i class="iconfont ic-others"></i> 
            	 	    	<span>其他消息</span> <!---->
            	 	    	</a>
            	 	    	</li>
            	 	    </ul>
            	 </li>
          <li class="search">
	           <form target="_blank" action="xiaojun/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"/>
		             <input type="text" name="q" id="q" value="" autocomplete="off" placeholder="搜索" class="search-input"/>
		             <a class="search-btn" href="javascript:void(null)"><i class="iconfont ic-search"></i></a>
				</form>          
		  </li>
        </ul>
      </div>
    </div>
  </div>
</nav>