<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>主页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/layui.css}" />
    <script th:src="@{/static/js/jquery-3.2.1.js}"></script>
    <script th:src="@{/static/js/layui.js}"></script>
</head>
<body>
<h1>配置成功,进入主页！！</h1>
<ul th:each="user:${userList}">
    id：<div th:text="${user.id}"></div>
    用户名：<div th:text="${user.username}"></div>
    密码：<div th:text="${user.password}"></div>
</ul>


</body>
</html>